<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ishelloword"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <!-- Required -->
    <permission
        android:name="com.example.ishelloword.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.ISHello.RemoteCalls.AIDL.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.ISHello.RemoteCalls.AIDL.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以下是使用wifi访问网络所需要的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 网络权限结束 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="com.ISHello.Provider.BOOKPROVIDER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!-- 极光推送相关 -->
    <uses-permission android:name="com.example.ishelloword.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.ISHello.Application.BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme, android:label">

        <!-- <uses-library android:name="android.test.runner" /> -->

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme.Main">

            <!-- android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
        	   别的activity可以通过
           	 Uri uri = Uri.parse("packageName://params?startType=SHAREINJECT&data=123");
           	 //这里的packageName是URI中scheme字段
			 Intent intent=new Intent(Intent.ACTION_VIEW, uri);
			 startActivity(intent);
			 的方式启动本Activity

             网页可通过下面的形式唤起
			 <a href="packageName://params?startType=SHAREINJECT&data=123">打开app</a>

			 在MainActivity中可以通过getIntent().getScheme()方法获取scheme
			 getIntent().getDataString()获取全部参数
			 getIntent().getData().getQuery()//startType=SHAREINJECT&data=123
			 getIntent().getData().getQueryParameter("startType")//SHAREINJECT
			 getIntent().getData().getQueryParameter("data")//123
            -->
            <intent-filter>
                <data android:scheme="com.example.ishelloword" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Juidge.JuidgeOnboardingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.GetPictureFromInternet.ISGetPictureFromInternet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ISHello.ExpandableListView.ExpandableListViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.ListView.listViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.DialogActivity.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppDialogNoTitle" />
        <activity
            android:name="com.ISHello.Service.ServerActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.Audio.AudioActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.BroadcastReceiver.broadCastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Contentprovider.ContentProviderActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.NetWork.NetWorkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.NetWork.WebCodeViewerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.MultipleThreadContinuableDownLoad.MultipleThreadContinuableDownLoadActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.webView.webViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.ISHello.Update.ISUpdateActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.updateversion.UpdateVersionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ISHello.LoadingDialog.ISLoadingDialog"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.RemoteCalls.RemoteCallsClient"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ViewPage.ViewPagerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Serializable.Parcelable.ObjectTranDemo"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Serializable.Parcelable.ObjectTranDemo1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Serializable.Parcelable.ObjectTranDemo2"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.preference.FragmentPreferences"
            android:label="@string/fragment_preferences"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.DateAndTime.DateTimeActivity"
            android:label="@string/fragment_preferences"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.DialogTheme.ThemeDialogActivity"
            android:label="@string/theme_dialog_title"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Hello.Tabactivity.ISTabActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Hello.Contacts.CursorsActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.View.MyViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.IP.TextSettingIp"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.AppManager.FirstActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.AppManager.SecondActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.UI.UIActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.ISHello.Service.ISService">
            <intent-filter>
                <action android:name="com.ISHello.Service.ISService.MY_SERVER" />
            </intent-filter>
        </service>
        <service android:name="com.ISHello.Service.MyService">
            <intent-filter>
                <action android:name="com.ISHello.Service.MyService.MY_SERVER" />
            </intent-filter>
        </service>
        <service
            android:name="com.ISHello.RemoteCalls.RemoteService"
            android:process=":remoteCallService">
            <intent-filter>
                <action android:name="com.ISHello.RemoteCalls" />
            </intent-filter>
        </service>
        <service android:name="com.ISHello.Service.LooperPrintAsyncService">
            <intent-filter>
                <action android:name="com.ISHello.LOOPERPRINTASYNCSERVICE" />
            </intent-filter>
        </service>
        <service android:name="com.ISHello.AIDL.mp3RemoteService">
            <intent-filter>
                <action android:name="com.ISHello.AIDL.SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="com.ISHello.BroadcastReceiver.ISBroadcastReceiver">
            <intent-filter android:priority="20">
                <action android:name="com.ISHello.BroadcastReceiver.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ISHello.BroadcastReceiver.ISOtherBroadcastReceiver">
            <intent-filter android:priority="10">
                <action android:name="com.ISHello.BroadcastReceiver.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ISHello.NetWorkChange.NetWorkBrodcastReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ISHello.BroadcastReceiver.MediaControlReceiver">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MEDIA_BUTTON" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <provider
            android:name="com.ISHello.Contentprovider.ISContentProvider"
            android:authorities="com.ISHello.provider.Employees" />

        <activity
            android:name="com.ISHello.UriActivity.UriActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_uri"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name="com.ISHello.Messger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":messengerService" />

        <activity android:name="com.ISHello.Messger.MessengerActivity" />

        <service
            android:name="com.ISHello.RemoteCalls.AIDL.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":bookAIDLService">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.ISHello.aidl.BookManagerService" />
            </intent-filter>
        </service>

        <activity android:name="com.ISHello.RemoteCalls.AIDL.BookManagerActivity" />

        <provider
            android:name="com.ISHello.Provider.BookProvider"
            android:authorities="cn.zlonglove.com.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.ISHello.Provider.BOOKPROVIDER"
            android:process=":BookProvider" />

        <activity
            android:name="com.ISHello.Provider.BookProviderActivity"
            android:label="@string/title_activity_book_provider" />
        <activity
            android:name="com.ISHello.Scroller.ScrollerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.MotionEvent.MotionEventActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.ISHello.Orientation.OrientationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.ISHello.base.activity.TestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Activity.LearningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_learning"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.LearningActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LearningActivity.1" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.google.panorama360+jpg" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Process.ProcessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_process"
            android:launchMode="singleTask"
            android:process=":myProcess"
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ISHello.LaunchMode.SecondActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.zhanglong.test">
            //指定activity栈的名字
            <intent-filter>
                <action android:name="com.ISHello.LaunchMode.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.LaunchMode.ThirdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:taskAffinity="com.zhanglong.test"
            android:theme="@style/AppTheme">
            //指定activity栈的名字
            <intent-filter>
                <action android:name="com.ISHello.LaunchMode.ThirdActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.TouchEvent.TouchEventActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ViewDraw.ViewDrawActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ISHello.ShareWeibo.BaseWeiboActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ShareWeibo.WeiboShareTestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ImageLoader.ImageLoaderActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.ishelloword" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="zlonglove.cn.aidl.service.AidlService"
            android:exported="false"
            android:process=":aidl" />

        <provider
            android:name="zlonglove.cn.aidl.provider.CommonProvider"
            android:authorities="zlonglove.cn.provider.commondb"
            android:enabled="true"
            android:exported="false"
            android:process=":aidl" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.example.ishelloword" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.example.ishelloword" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JPushCustomerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.example.ishelloword" />
            </intent-filter>
        </receiver>

        <service android:name="im.icbc.cn.keyboard.demo.catchInfo" />

        <receiver android:name="im.icbc.cn.keyboard.demo.phoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="96e1aa3be31760ec2e4c301f" /> <!-- </>值来自开发者平台取得的AppKey -->

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.ISHello.Map.Location_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59d4c0aa7108c0ff53ed7a0d72b02396" />

        <activity
            android:name="com.ISHello.webView.ShowWebImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ISHello.GesturePassword.CreateGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.GesturePassword.GuideGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.GesturePassword.UnlockGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ISHello.BottomDialog.BottomDialogActivity" />
        <activity android:name="com.ISHello.ProgressBar.CProgressBarActivity" />
        <activity
            android:name="com.ISHello.Area.ProviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Area.CityListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ResideMenu.ResideMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Banner.BannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.MusicIndicator.MusicIndicatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Chat.ChatMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.ImageEditor.ImageEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.webView.APIWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ISHello.Chat.Service.PushNotifyService"
            android:process=":push" />
        <service
            android:name="com.ISHello.Chat.Service.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.ISHello.Chat.Service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />

        <receiver
            android:name="com.ISHello.Chat.Receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wake.gray" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ISHello.Chat.Receiver.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.ISHello.Chat.Receiver.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.ISHello.Glide.GlideTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="im.icbc.com.downloadfile.DownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.IOSDialog.iosDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.Banner2.BannerActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ISHello.EventBus.EventBusA" />
        <activity android:name="com.ISHello.EventBus.EventBusB" />
        <activity
            android:name="com.ISHello.IndexablerecyclerView.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.IndexablerecyclerView.city.PickCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.IndexablerecyclerView.contact.PickContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.PickView.PickViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ISHello.DropDownMenu.ui.DropDownMenuActivity"
            android:label="按条件下拉选择"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ISHello.RecyclerView.ui.StickHeaderActivity"
            android:label="StickHeaderRecycler"
            android:screenOrientation="portrait" />
        <activity android:name="com.ISHello.Voice.VoiceActivity" />
        <activity
            android:name="com.ISHello.Retrofit.RetrofitDownLoadActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>