<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.icbc.cn.keyboard">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PayKeyboardAppTheme">
        <activity
            android:name=".safePay.PayKeyboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PayKeyboardAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
